@model EntityLayer.Concrete.User
@{
    ViewBag.Title = "EditUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="card card-solid">
        <div class="card-body pb-0">
            <h2>Kullanıcıyı düzenleyin </h2>
            <form class="form-group" method="post">
                @Html.Label("Id")
                @Html.TextBoxFor(x => x.Id, new { @class = "form-control", @readonly = "readonly" })
                <br />
                @Html.Label("Kullanıcı Adı")
                @Html.TextBoxFor(x => x.Username, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Username)
                <br />
                @Html.Label("Şifre")
                @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Password)
                <br />
                @Html.Label("İsim")
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Name)
                <br />
                @Html.Label("Soyisim")
                @Html.TextBoxFor(x => x.Surname, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Surname)
                <br />
                @Html.Label("Mail Adresi")
                @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Mail)
                <br />
                @Html.Label("Telefon Numarası")
                @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.PhoneNumber)
                <br />
                @Html.Label("Kullanıcı rolü")
                @Html.EnumDropDownListFor(x => x.Role, new { @class = "form-control" })
                <br />
                <button class="btn btn-info">Kaydet</button>
                <a href="@Url.Action("Index", "User")" style="margin-left:10px">İptal</a>
            </form>

        </div>
    </div>
</div>
