@model IEnumerable<EntityLayer.Concrete.User>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Navbar -->
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="card card-solid">
        <div class="card-body pb-0">
            <div class="row d-flex align-items-stretch">
                @foreach (var item in Model)
                {
                    <div class="col-12 col-sm-6 col-md-4 align-items-stretch">
                        <div class="card bg-light">
                            <div class="card-header text-muted border-bottom-0">
                                @item.Username
                            </div>
                            <div class="card-body pt-0">
                                <div class="row">
                                    <div>
                                        <h2 class="lead"><b>@item.Name @item.Surname</b></h2>
                                        <b>Rol: </b> @item.Role
                                        <ul class="ml-4 mb-0 fa-ul text-muted">

                                            <li class="small"><span class="fa-li"><i class="fas fa-lg fa-envelope"></i></span> Mail: @item.Mail</li>
                                            <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Tel: @item.PhoneNumber</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            @if (ViewBag.Role == EntityLayer.Concrete.Role.Admin)
                            {
                                <div class="card-footer">
                                    <div class="text-right">

                                        <a href="/User/DeleteUser/@item.Id" class="btn btn-sm btn-danger">
                                            <i class="fas fa-eraser"></i> Sil
                                        </a>
                                        <a href="/User/EditUser/@item.Id" class="btn btn-sm btn-primary">
                                            <i class="fas fa-user"></i> Profili Düzenle
                                        </a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->
<a href="/User/AddUser/" class="btn btn-primary" style="margin-bottom:20px; margin-top:10px">Yeni Kullanıcı Girişi</a>
